<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxSqMwn71_CUqQzPZ8UaKDzoC4aRFB1kk</string>
	<key>GCM_SENDER_ID</key>
	<string>873935595710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capstone.SmartTrade</string>
	<key>PROJECT_ID</key>
	<string>smarttrade-2b499</string>
	<key>STORAGE_BUCKET</key>
	<string>smarttrade-2b499.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873935595710:ios:6b1866565a60e6c601d6ef</string>
</dict>
</plist>